<template>
  <q-page class="form-page">
    <q-header>
      <q-toolbar>
        <q-btn flat dense icon="arrow_back_ios" @click="closeForm" />
        <q-toolbar-title>{{
          isEditMode ? "Edit Movies" : "Add New Movies"
        }}</q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container class="q-pa-md">
      <q-card class="no-shadow">
        <!-- Input title -->
        <q-input
          v-model="form.title"
          label="Title"
          class="q-mb-sm"
          outlined
          :rules="[(val) => !!val || 'Title is required']"
        />

        <!-- Input director -->
        <q-input
          v-model="form.director"
          label="Director"
          class="q-mb-sm"
          outlined
          :rules="[(val) => !!val || 'Director is required']"
        />

        <!-- Input summary with max 100 chars -->
        <q-input
          v-model="form.summary"
          label="Summary"
          class="q-mb-sm"
          type="textarea"
          counter
          outlined
          :rules="[
            (val) => !!val || 'Summary is required',
            (val) =>
              (val || '').length <= 100 ||
              'Summary must be less than or equal to 100 characters',
          ]"
          :maxlength="100"
        />

        <!-- Add image url (optional) -->
        <q-input
          v-model="form.imageUrl"
          class="q-mb-md"
          label="Image URL"
          outlined
          dense
        />

        <!-- Multi selected genre -->
        <div class="q-mt-md">
          <label>Genres</label>
          <div class="genres-container">
            <q-chip
              v-for="genre in genres"
              :key="genre"
              clickable
              :outline="!form.genres.includes(genre)"
              :color="form.genres.includes(genre) ? 'accent' : 'secondary'"
              :text-color="form.genres.includes(genre) ? 'white' : 'secondary'"
              @click="toggleGenre(genre)"
              class="q-mb-sm"
            >
              {{ genre }}
            </q-chip>
          </div>
        </div>
      </q-card>

      <q-btn
        class="full-width q-mt-md"
        no-caps
        unelevated
        rounded
        color="primary"
        @click="saveItem"
        >{{ isEditMode ? "Update" : "Save" }}</q-btn
      >
      <q-btn
        v-if="isEditMode"
        class="full-width q-mt-sm"
        no-caps
        unelevated
        rounded
        color="negative"
        @click="deleteItem"
        >Delete</q-btn
      >
    </q-page-container>
  </q-page>
</template>

<script>
import { ref, onMounted } from "vue";
import { useRouter } from "vue-router";
import { useQuasar } from "quasar";

export default {
  setup() {
    const $q = useQuasar();
    const router = useRouter();
    const form = ref({
      title: "",
      director: "",
      summary: "",
      genres: [],
      imageUrl: "",
    });

    const genres = [
      "Action",
      "Drama",
      "Animation",
      "Sci-Fi",
      "Horror",
      "Comedy",
      "History",
    ];

    const isEditMode = ref(false);
    const editIndex = ref(-1);

    const closeForm = () => {
      router.go(-1);
    };

    const saveItem = () => {
      if (!validateForm()) {
        return;
      }

      let items = JSON.parse(localStorage.getItem("items")) || [];
      if (isEditMode.value) {
        items[editIndex.value] = { ...form.value };
        notify("Item updated successfully");
      } else {
        items.unshift({ ...form.value });
        notify("Item added successfully");
      }
      localStorage.setItem("items", JSON.stringify(items));
      closeForm();
    };

    const deleteItem = () => {
      let items = JSON.parse(localStorage.getItem("items")) || [];
      items.splice(editIndex.value, 1);
      localStorage.setItem("items", JSON.stringify(items));
      notify("Item deleted successfully");
      router.replace("/home");
    };

    const validateForm = () => {
      const items = JSON.parse(localStorage.getItem("items")) || [];

      const duplicateTitle = items.some(
        (item, index) =>
          item.title === form.value.title && index !== editIndex.value
      );

      if (duplicateTitle && !isEditMode.value) {
        notify("Movie with this Title already exists", "negative");
        return false;
      }

      if (!form.value.title || !form.value.director || !form.value.summary) {
        notify("Title, Director, and Summary are required", "negative");
        return false;
      }

      if (form.value.genres.length === 0) {
        notify("Genre must be selected", "negative");
        return false;
      }

      return true;
    };

    const toggleGenre = (genre) => {
      const index = form.value.genres.indexOf(genre);
      if (index === -1) {
        form.value.genres.push(genre);
      } else {
        form.value.genres.splice(index, 1);
      }
    };

    const notify = (message, type = "positive") => {
      $q.notify({
        type: type,
        message: message,
      });
    };

    onMounted(() => {
      const mode = router.currentRoute.value.params.mode;
      if (mode === "edit") {
        isEditMode.value = true;
        editIndex.value = router.currentRoute.value.params.index;
        const currentItem = JSON.parse(localStorage.getItem("items"));
        if (currentItem) {
          form.value = { ...currentItem[editIndex.value] };
        }
      }
    });

    return {
      form,
      genres,
      isEditMode,
      closeForm,
      saveItem,
      deleteItem,
      toggleGenre,
    };
  },
};
</script>

<style scoped>
.form-page {
  height: 100vh;
}
.full-width {
  width: 100%;
}
.genres-container {
  display: flex;
  flex-wrap: wrap;
}
.no-shadow {
  box-shadow: none !important;
  background: transparent !important;
}
.summary-count {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 12px;
  color: #777;
}
</style>
