<template>
  <div>
    <q-header v-show="showHeader" class="blur-header">
      <q-toolbar>
        <img
          alt="Briix Movies logo"
          src="~assets/briix-movies-logo.svg"
          style="width: auto; height: 24px"
          @click="goTo('TheMovieDbFetch')"
        />
        <q-space />
        <q-icon name="notifications" size="sm" />
      </q-toolbar>
    </q-header>
    <q-page>
      <div class="carousel-container">
        <!-- Image banner slider -->
        <q-carousel
          animated
          v-model="slide"
          infinite
          swipeable
          control-color="white"
          navigation-icon="radio_button_unchecked"
          navigation
          :autoplay="autoplay"
          height="50vh"
          @mouseenter="autoplay = false"
          @mouseleave="autoplay = true"
        >
          <q-carousel-slide
            :name="1"
            img-src="https://www.blibli.com/friends-backend/wp-content/uploads/2023/07/B700219-Cover-Sinopsis-Oppenheimer.jpg"
          />
          <q-carousel-slide
            :name="2"
            img-src="https://cdn0-production-images-kly.akamaized.net/B71_o5jE0oafs6BJE6kYjUsrFuI=/800x1066/smart/filters:quality(75):strip_icc():format(webp)/kly-media-production/medias/4788068/original/098782300_1711640348-434543288_18301507306157327_5210704004272573197_n.jpg"
          />
          <q-carousel-slide
            :name="3"
            img-src="https://media.21cineplex.com/webcontent/gallery/pictures/171439336183821_287x421.jpg"
          />
          <q-carousel-slide
            :name="4"
            img-src="https://awsimages.detik.net.id/community/media/visual/2024/03/26/godzilla-x-kong-the-new-empire-1.jpeg?w=600&q=90"
          />
          <q-carousel-slide
            :name="5"
            img-src="https://www.the-numbers.com/images/movies/opusdata/Kung-Fu-Panda-4-(2024).jpg"
          />
        </q-carousel>
        <div class="gradient-overlay"></div>
      </div>

      <!-- Search movie -->
      <div class="page-container q-pa-md">
        <q-input
          v-model="search"
          rounded
          placeholder="Search by title..."
          outlined
          dense
          class="q-my-md"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>

        <!-- UI info when there is no movie data added -->
        <div
          v-if="filteredItems.length === 0 && search.length === 0"
          class="empty-search q-my-md"
        >
          <q-img
            fit="cover"
            src="~assets/planet.png"
            alt="Movie Poster"
            class="def-image q-mt-xl"
          />
          <span class="q-ml-sm q-mt-md">There is no Movies Data</span>
        </div>

        <!-- UI info for no search result -->
        <div
          v-if="filteredItems.length === 0 && search.length > 0"
          class="empty-search q-my-md"
        >
          <q-img
            fit="cover"
            src="~assets/empty.png"
            alt="Movie Poster"
            class="def-image q-mt-xl"
          />
          <span class="q-ml-sm q-mt-md"
            >Sorry, "{{ search }}" is not found</span
          >
        </div>

        <!-- Movie card component -->
        <MovieCard
          v-for="(item, index) in filteredItems"
          :key="index"
          :item="item"
          @goToDetailPage="goToDetailPage(index)"
        />

        <!-- Float add movies button -->
        <q-page-sticky
          position="bottom-right"
          :offset="[18, 18]"
          style="margin-right: 16px; margin-bottom: 16px"
        >
          <q-btn round icon="add" color="accent" @click="goToAddPage" />
        </q-page-sticky>
      </div>
    </q-page>
  </div>
</template>

<script>
import { ref, computed, onMounted, onBeforeUnmount, nextTick } from "vue";
import MovieCard from "../components/MovieCard.vue";
import { useRouter } from "vue-router";

const loadItems = () => {
  return JSON.parse(localStorage.getItem("items")) || [];
};

export default {
  name: "IndexPage",
  components: {
    MovieCard,
  },
  setup() {
    const router = useRouter();
    const slide = ref(1);
    const autoplay = ref(true);
    const items = ref(loadItems());
    const search = ref("");
    const showHeader = ref(false);

    const filteredItems = computed(() => {
      if (search.value.trim() === "") {
        return items.value;
      }
      const searchKey = search.value.trim().toLowerCase();
      return items.value.filter((item) =>
        item.title.toLowerCase().includes(searchKey)
      );
    });

    const goToAddPage = () => {
      saveScrollPosition();
      router.push({ name: "form", params: { mode: "add" } });
    };

    const goToDetailPage = (index) => {
      saveScrollPosition();
      router.push({ name: "movieDetail", params: { index } });
    };

    const goTo = (pageName) => {
      router.push({ name: pageName });
    };

    const saveScrollPosition = () => {
      sessionStorage.setItem("scrollPosition", window.scrollY);
    };

    const restoreScrollPosition = () => {
      const scrollPosition = sessionStorage.getItem("scrollPosition");
      if (scrollPosition) {
        window.requestAnimationFrame(() => {
          window.scrollTo(0, parseInt(scrollPosition));
          sessionStorage.removeItem("scrollPosition");
        });
      }
    };

    const handleScroll = () => {
      const scrollTop =
        window.pageYOffset || document.documentElement.scrollTop;
      const windowHeight = window.innerHeight;
      showHeader.value = scrollTop > windowHeight * 0.25;
    };

    const adjustGradientOverlay = () => {
      const gradientOverlay = document.querySelector(".gradient-overlay");
      if (gradientOverlay) {
        const carouselContainerHeight = document.querySelector(
          ".carousel-container"
        ).offsetHeight;
        gradientOverlay.style.top = `${
          carouselContainerHeight - gradientOverlay.offsetHeight
        }px`;
      }
    };

    onMounted(() => {
      window.addEventListener("scroll", handleScroll);
      window.addEventListener("resize", adjustGradientOverlay);
      nextTick(adjustGradientOverlay);
      restoreScrollPosition();
    });

    onBeforeUnmount(() => {
      window.removeEventListener("scroll", handleScroll);
      window.removeEventListener("resize", adjustGradientOverlay);
    });

    return {
      slide,
      autoplay,
      items,
      search,
      showHeader,
      filteredItems,
      goTo,
      goToAddPage,
      goToDetailPage,
    };
  },
};
</script>

<style scoped>
.page-container {
  margin-top: 0px;
}

.search-input {
  height: 32px;
}

.blur-header {
  backdrop-filter: blur(10px);
}

.empty-search {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}
.def-image {
  height: 120px;
  width: 120px;
}
.carousel-container {
  position: relative;
  height: 100%;
}

.gradient-overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(
    to bottom,
    rgba(15, 15, 15, 0),
    rgba(15, 15, 15, 0.25),
    rgba(15, 15, 15, 0.5),
    rgba(15, 15, 15, 0.75),
    rgba(15, 15, 15, 1),
    #121212 100%
  );
  pointer-events: none;
}
</style>
