<template>
  <q-header>
    <q-toolbar>
      <q-btn flat dense icon="arrow_back_ios" @click="closeForm" />
      <q-space />
      <q-btn flat dense icon="edit" @click="goToEditPage" />
    </q-toolbar>
  </q-header>
  <q-page class="movie-detail-page">
    <!-- Movies image -->
    <div class="media-container">
      <q-img
        v-if="movie.imageUrl"
        :src="movie.imageUrl"
        error-src="~assets/broken-image.svg"
        alt="Movie Poster"
        class="image"
      />
      <q-img
        v-else
        fit="cover"
        src="~assets/briix-dark.svg"
        error-src="~assets/broken-image.svg"
        alt="Movie Poster"
        class="image"
      />
    </div>

    <!-- Movie info part -->
    <div class="movie-info q-pa-md">
      <q-item-label class="title">{{ movie.title }}</q-item-label>
      <q-item-label class="summary">{{ movie.director }}</q-item-label>
      <div class="summary italic-text" v-html="formattedSummary"></div>

      <div class="genre-chips">
        <q-chip
          v-for="(genre, index) in movie.genres"
          :key="index"
          class="q-ma-xs"
          outline
          color="accent"
        >
          {{ genre }}
        </q-chip>
      </div>
    </div>
  </q-page>
</template>

<script>
import { ref, onMounted, computed } from "vue";
import { useRouter } from "vue-router";

export default {
  setup() {
    const movie = ref({});
    const router = useRouter();
    const getMovie = () => {
      const movieIndex = router.currentRoute.value.params.index;
      const currentItem = JSON.parse(localStorage.getItem("items"));
      movie.value = currentItem[movieIndex];
    };

    const goToEditPage = () => {
      router.push({
        name: "form",
        params: { mode: "edit", index: router.currentRoute.value.params.index },
      });
    };

    const closeForm = () => {
      router.go(-1);
    };

    const formattedSummary = computed(() => {
      return movie.value?.summary?.replace(/\n/g, "<br>");
    });

    onMounted(() => {
      getMovie();
    });

    return { movie, goToEditPage, closeForm, formattedSummary };
  },
};
</script>

<style scoped>
.movie-detail-page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #000;
  color: #fff;
}
.media-container {
  display: flex;
  justify-content: start;
  align-items: center;
}
.image {
  max-width: 100%;
  max-height: 100%;
  min-height: 70vh;
}
.movie-info {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}
.title {
  font-size: 24px;
  font-weight: bold;
}
.summary {
  margin-top: 10px;
}
.italic-text {
  font-style: italic;
}
.genre-chips {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
</style>
