<template>
  <div
    @scroll="handleScroll"
    ref="scrollContainer"
    style="overflow-y: scroll; height: 100vh"
    class="q-pa-md"
  >
    <h3>Now Playing Movies from The MovieDB</h3>
    <div v-if="initialLoad" class="loading-indicator">Loading...</div>
    <div v-if="fetchError">Error: {{ fetchError.message }}</div>
    <div v-if="!fetchError">
      <q-inner-loading
        :showing="isLoading && !initialLoad"
        label-class="text-teal"
        label-style="font-size: 1.1em"
        class="loading"
      />
      <q-card
        v-for="movie in allMovies"
        :key="movie.id"
        class="q-mb-md card"
        bordered
        style="border-radius: 10px"
      >
        <q-card-section class="no-padding">
          <q-item class="no-padding" clickable @click="true">
            <q-img
              v-if="movie.poster_path"
              :src="`https://image.tmdb.org/t/p/original${movie.poster_path}`"
              fit="cover"
              error-src="~assets/broken-image.svg"
              alt="Movie Poster"
              class="poster-image"
            />
            <q-img
              v-else
              fit="cover"
              src="~assets/briix-dark.svg"
              alt="Movie Poster"
              class="poster-image"
            />
            <q-card-section class="no-padding movies-info">
              <div>
                <q-item-label class="bold-title">{{
                  movie.title
                }}</q-item-label>
                <q-item-label caption
                  >Rate: {{ movie.vote_average.toFixed(2) }}</q-item-label
                >
              </div>
              <q-item-label caption class="text-end">{{
                movie.release_date
              }}</q-item-label>
            </q-card-section>
          </q-item>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script>
import { computed, onMounted, ref } from "vue";
import { useStore } from "vuex";
// import MovieCard from "../components/MovieCard.vue";

export default {
  name: "NowPlayingMovies",
  components: {
    // MovieCard,
  },
  setup() {
    const store = useStore();
    const pageNumber = ref(1);
    const initialLoad = ref(true);

    const allMovies = computed(() => store.getters.allMovies);
    const isLoading = computed(() => store.getters.isLoading);
    const fetchError = computed(() => store.getters.fetchError);

    const fetchNowPlayingMovies = () => {
      store.dispatch("fetchNowPlayingMovies", pageNumber.value).finally(() => {
        initialLoad.value = false;
      });
    };

    const saveScrollPosition = () => {
      sessionStorage.setItem("scrollPosition", window.scrollY);
    };

    const restoreScrollPosition = () => {
      const scrollPosition = sessionStorage.getItem("scrollPosition");
      if (scrollPosition) {
        window.requestAnimationFrame(() => {
          window.scrollTo(0, parseInt(scrollPosition));
          sessionStorage.removeItem("scrollPosition");
        });
      }
    };

    const handleScroll = (event) => {
      saveScrollPosition();
      const { scrollTop, clientHeight, scrollHeight } = event.target;
      if (scrollTop + clientHeight >= scrollHeight - 5 && !isLoading.value) {
        pageNumber.value++;

        fetchNowPlayingMovies();
        restoreScrollPosition();
      }
    };

    onMounted(() => {
      fetchNowPlayingMovies();
    });

    return {
      allMovies,
      isLoading,
      fetchError,
      fetchNowPlayingMovies,
      handleScroll,
      initialLoad,
    };
  },
};
</script>

<style scoped>
.no-padding {
  padding: 0 !important;
}
.bold-title {
  font-weight: bold;
}
.text-end {
  text-align: right;
}
.poster-image {
  width: 30%;
  height: 140px;
  margin-right: 16px;
  border-radius: 10px 0px 0px 10px;
}
.movies-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 10px 10px 0px;
  width: 70%;
}
.loading {
  z-index: 999;
}
</style>
