<template>
  <q-card class="q-mb-md card" bordered style="border-radius: 10px">
    <q-card-section class="no-padding">
      <q-item class="no-padding" clickable @click="goToDetailPage">
        <q-img
          v-if="item.imageUrl"
          :src="item.imageUrl"
          fit="cover"
          error-src="~assets/broken-image.svg"
          alt="Movie Poster"
          class="poster-image"
        />
        <q-img
          v-else
          fit="cover"
          src="~assets/briix-dark.svg"
          alt="Movie Poster"
          class="poster-image"
        />
        <q-card-section class="no-padding movies-info">
          <div>
            <q-item-label class="bold-title">{{ item.title }}</q-item-label>
            <q-item-label caption>{{ item.director }}</q-item-label>
          </div>
          <q-item-label caption class="text-end">{{
            item.genres.join("/ ")
          }}</q-item-label>
        </q-card-section>
      </q-item>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  props: {
    item: Object,
  },

  setup(props, { emit }) {
    const goToDetailPage = () => {
      emit("goToDetailPage", props.item.index);
    };
    return {
      goToDetailPage,
    };
  },
};
</script>

<style scoped>
.no-padding {
  padding: 0 !important;
}
.bold-title {
  font-weight: bold;
}
.text-end {
  text-align: right;
}
.poster-image {
  width: 30%;
  height: 140px;
  margin-right: 16px;
  border-radius: 10px 0px 0px 10px;
}
.movies-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 10px 10px 0px;
  width: 70%;
}
</style>
