<template>
  <div class="splash">
    <img class="logo-img" src="~assets/briix-movies-logo.svg" alt="Logo" />
  </div>
</template>

<script>
import { onMounted } from "vue";
import { useRouter } from "vue-router";

export default {
  name: "SplashScreen",
  setup() {
    const router = useRouter();
    const redirectToHome = () => {
      setTimeout(() => {
        router.push("/home");
      }, 2000);
    };

    onMounted(() => {
      redirectToHome();
    });
  },
};
</script>

<style scoped>
.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.logo-img {
  height: auto;
  width: 160px;
}
</style>
